
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


.active-task {
  background-color: #d3f5fe; 
  border-left: 5px solid #2142fd; 
}


.completed-task {
  background-color: #d4edda; 
  border-left: 5px solid #28a745; 
  text-decoration: line-through;
  color: grey;
}


.task-item span {
  font-weight: bold;
}

.task-item button.complete-btn {
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 7px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.8em; 
}

.task-item button.complete-btn:hover {
  background-color: #c82333;
}


.task-item button.remove-btn {
  background-color: #6c757d; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  font-size: 0.8em;
}

.task-item button.remove-btn:hover {
  background-color: #5a6268;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #66bb6a; 
  color: white;
  padding: 15px 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white; 
  text-decoration: none;
}

main {
  padding: 20px;
}

h2 {
  color: #66bb6a; 
}

input, textarea, select, button {
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #66bb6a; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #57a957; 
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: rgb(227, 127, 127);
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}